tr.selector-highlight {
    background-color: lightgrey;
}

tr.selector-press {
    opacity: 0.5;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.borderless
{
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
}

.eighty-high
{
    height: 80px;
}

.top-gap
{
    margin-top: 10px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.printer-selector
{
    height: 64px;
    font-size: 1.2em;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.status-text
{
    font-size: 10pt;
}

.narrow-ruled-grid
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.low-padding-cell
{
    padding-left: 5px;
    padding-right: 5px;
}

.white-background
{
    background-color: white;
}

.content-container
{
    padding: 5px;
}

.header-box
{
    display: flex;
    align-items: center;
    padding: 5px;
}

.footer-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 74px;
    background-color: black;
    z-index: 9999;
}

.footer-display
{
    width: 33%;
    color: white;
}

.footer-btn
{
    background-color: black !important;
}

.footer-btn :hover
{
    background-color: #333333 !important;
}

.row
{
    margin-bottom: 5px !important;
}

.no-margin
{
    margin: 0 !important;
}

.no-padding
{
    padding: 0 !important;
}

.status-title
{
    font-size: 1.65em;
}

.printer-swatch
{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.centred-grid-box
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.panel-body
{
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.noresize {
  resize: none; 
}

.btn-colorselector
{
   width: 100% !important;
   height: 34px !important;
   margin-top: 0px !important;
}

.jog-button :hover
{
    border-color: purple;
}

.btn.disabled
{
    opacity: .3 !important;
}

.root-icon
{
    height: 60px;
}

body
{
    font-size: 12pt !important;   
}