tr.selector-highlight {
    background-color: lightgrey;
}

tr.selector-press {
    opacity: 0.5;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.borderless
{
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.eighty-high
{
    height: 80px;
}

.top-gap
{
    margin-top: 10px;
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

/*body
{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.printer-selector
{
    height: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.status-text
{
    font-size: 10pt;
}

.narrow-ruled-grid
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.low-padding-panel
{
    padding-bottom: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
}

.low-padding-cell
{
    padding-left: 5px;
    padding-right: 5px;
}

.white-background
{
    background-color: white;
}

.content-container
{
    padding: 5px;
}

.header-box
{
    display: flex;
    align-items: center;
    padding: 5px;
}

.footer-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: darkgrey;
    z-index: 9999;
}

.footer-display
{
    width: 33%;
    color: black;
}

.footer-btn
{
    /*background-color: #333333;*/
}