/* Sticky header styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 80px;
}*/
.header {
  position: absolute;
  top: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px; /* Vertically center the text there */
  background-color: white;
  padding-top: 10px;
}