body {
  font-family:'Source Sans Pro', sans-serif;
}

.row.vertical-align {
  display:flex;
  align-items:center;
}

.btn.btn-default {
  color:#009ee3;
  background-color:transparent;
  font-size:0;
}

.btn.btn-default:hover {
  color:#ffffff;
  font-size:0;
  background-color:#009ee3;
}

.menu-bottom-button {
  width:20vh;
  height:10.5vh;
  background-color:#000;
}

.menu-bottom-button-icon {
  height:6vh;
}

.menu-sub-button {
  width:20vh;
  height:8.75vh;
}

.sub-button-icon {
  height:4vh;
  margin-top:2.375vh;
}

.btn {
  font-weight:300;
  border:none;
  padding:0px;
  font-size:15px;
}

.btn-default:active, .btn-default:focus, .btn-default:active:focus, .btn-default:active.focus, .btn-default:active:hover, .btn-default:active.hover {
  background-color:#009ee3;
}

h1 {
  font-size:5vh;
  margin:0px;
  color:#009ee3;
  text-align:center;
}

h2 {
  font-size:2.25vh;
  margin:0px;
  color:#fff;
  line-height:1.8vh;
}

.container.page {
  width:60vh;
  height:89.5vh;
  padding:1.25vh;
  background-color:#414141;
}

.container.page.home {
  width:60vh;
  height:89.5vh;
  padding:1.25vh;
  background-color:#414141;
}

.container.page.reprint {
  width:60vh;
  height:80.75vh;
  padding:1.25vh;
  background-color:#414141;
}

.row.current-job {
  width:60vh;
  height:18vh;
  padding:0vh;
  margin:0 -1.25vh;
  background-color:#009ee3;
}

.row.idle {
  width:60vh;
  height:34.25vh;
  padding:0vh;
  margin:0 -1.25vh;
}

.container.page.next-prev {
  width:60vh;
  height:8.75vh;
  padding:0vh;
  background-color:#009ee3;
}

.container.menu {
  width:60vh;
  height:89.5vh;
  padding:0.875vh;
  background-color:#414141;
}

.container.splash {
  width:60vh;
  height:100vh;
  padding:0px;
  background-color:#009ee3;
}

.canvas-grey {
  background-color:#9f9f9f;
}

.canvas-blue {
  background-color:#009ee3;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

.btn.btn-default.menu-horz-button {
  width:57.5vh;
  height:10vh;
  text-align:left;
  font-size:4.5vh;
  line-height:10vh;
  padding-left:11vh;
  background-repeat:no-repeat;
  background-size:5vh;
  background-position:5% 50%;
  background-color:#303030;
}

.btn.btn-default.menu-grid-button {
  width:28.75vh;
  height:28.75vh;
  text-align:center;
  font-size:4vh;
  line-height:8vh;
  white-space:normal;
  background-repeat:no-repeat;
  background-size:17.5vh;
  padding-top:20vh;
  background-position:50% 20%;
  background-color:#303030;
}

.menu-horz-button-icon {
  width:11vh;
  padding:1.5vh 3vh 2.5vh;
  height:9vh;
}

.row.menu-horz-button {
  margin:1.25vh 0vh 0vh;
}

.panel {
  background-color:#303030;
  margin-bottom:0;
  border:none;
  font-size:0;
}

.row.panel.rbx-home-currentjob {
  height:6vh;
  background-color:inherit;
  margin:0vh 2.5vh;
  padding:1.5vh 0vh;
}

.row.menu-grid-button {
  margin:0vh 0vh 0.875vh;
}

.menu-grid-button-r {
  text-align:center;
  margin-left:0.375vh;
  width:28.75vh;
  padding:0;
}

.menu-grid-button-l {
  text-align:center;
  margin-right:0.375vh;
  width:28.75vh;
  padding:0;
}

.btn.btn-default.menu-grid-button.menu-main-control {
  background-image:url("../../assets/img/Icon-Menu-Grid-Control.svg");
}

.btn.btn-default.menu-grid-button.menu-main-reprint {
  background-image:url("../../assets/img/Icon-Menu-Grid-Reprint.svg");
}

.btn.btn-default.menu-grid-button.menu-main-cal {
  background-image:url("../../assets/img/Icon-Menu-Grid-Calibration.svg");
}

.btn.btn-default.menu-grid-button.menu-main-purge {
  background-image:url("../../assets/img/Icon-Menu-Grid-Purge.svg");
}

.btn.btn-default.menu-grid-button.menu-main-maint {
  background-image:url("../../assets/img/Icon-Menu-Grid-Maintenance.svg");
}

.btn.btn-default.menu-grid-button.menu-main-console {
  background-image:url("../../assets/img/Icon-Menu-Grid-Console.svg");
}

.btn.btn-default.menu-grid-button.menu-main-control:hover {
  background-image:url("../../assets/img/Icon-Menu-Grid-Control-Inverse.svg");
}

.btn.btn-default.menu-grid-button.menu-main-reprint:hover {
  background-image:url("../../assets/img/Icon-Menu-Grid-Reprint-Inverse.svg");
}

.btn.btn-default.menu-grid-button.menu-main-cal:hover {
  background-image:url("../../assets/img/Icon-Menu-Grid-Calibration-Inverse.svg");
}

.btn.btn-default.menu-grid-button.menu-main-purge:hover {
  background-image:url("../../assets/img/Icon-Menu-Grid-Purge-Inverse.svg");
}

.btn.btn-default.menu-grid-button.menu-main-maint:hover {
  background-image:url("../../assets/img/Icon-Menu-Grid-Maintenance-Inverse.svg");
}

.btn.btn-default.menu-grid-button.menu-main-console:hover {
  background-image:url("../../assets/img/Icon-Menu-Grid-Console-Inverse.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-purge {
  background-image:url("../../assets/img/Icon-Menu-Purge-Grey.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-eject {
  background-image:url("../../assets/img/Icon-Menu-Eject-Grey.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-clean {
  background-image:url("../../assets/img/Icon-Menu-Clean-Grey.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-remove {
  background-image:url("../../assets/img/Icon-Menu-Remove-Grey.svg");
  background-size:4vh;
  background-position:5.5% 50%;
}

.btn.btn-default.menu-horz-button.menu-maint-level {
  background-image:url("../../assets/img/Icon-Menu-Level-Grey.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-test {
  background-image:url("../../assets/img/Icon-Menu-Test-Grey.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-purge:hover {
  background-image:url("../../assets/img/Icon-Menu-Purge-White.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-eject:hover {
  background-image:url("../../assets/img/Icon-Menu-Eject-White.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-clean:hover {
  background-image:url("../../assets/img/Icon-Menu-Clean-White.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-remove:hover {
  background-image:url("../../assets/img/Icon-Menu-Remove-White.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-level:hover {
  background-image:url("../../assets/img/Icon-Menu-Level-White.svg");
}

.btn.btn-default.menu-horz-button.menu-maint-test:hover {
  background-image:url("../../assets/img/Icon-Menu-Test-White.svg");
}

.label {
  font-size:2.25vh;
  font-weight:300;
  margin:0;
}

.container.footer {
  height:10.5vh;
  width:60vh;
  padding:0px;
  background-color:#000000;
}

.rbx-hidden {
  display:none !important;
}

.rbx-invisible {
  visibility:hidden;
}

.no-touch-action {
  touch-action:none;
}

.float-right {
  float:right;
}

.rbx-panel {
  margin:12px;
  background-color:#303030;
  height:auto;
}

img.rbx-panel {
  width:40vh;
  height:40vh;
}

.progress-bar {
  background-color:#fff;
}

.progress.rbx-progress {
  background-color:rgba(255, 255, 255, 0.3);
  margin:0vh 2.5vh;
  height:3.25vh;
}

.rbx-machine-image {
  position:absolute;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  height:7.5vh;
}

.rbx-home-machine-icon {
  width:10.5vh;
  height:10.5vh;
  background-color:#009ee3;
  border-color:#ffffff;
  border-width:0.3vh;
  border-style:solid;
}

.rbx-home-machine-title {
  font-size:3.5vh;
  color:#009ee3;
  font-weight:300;
  margin:0;
  line-height:4.5vh;
}

.rbx-home-machine-name {
  font-size:3.5vh;
  color:#fff;
  font-weight:300;
  margin:0;
  line-height:3.5vh;
}

.rbx-home-machine-ip {
  font-size:2.25vh;
  color:#fff;
  font-weight:300;
  margin:0;
  line-height:4vh;
}

.home-machine-icon-state {
  height:2.5vh;
  position:absolute;
  bottom:0.8vh;
  right:0.4vh;
}

.rbx-home-filament-icon {
  padding:0;
  width:12.5vh;
  height:6.25vh;
  float:right;
  text-align:center;
}

.rbx-home-filament-remain {
  font-size:3.5vh;
  color:#fff;
  font-weight:300;
  line-height:6.25vh;
  float:right;
  padding-right:1vh;
}

.rbx-home-filament-type {
  line-height:6.25vh;
  height:6.25vh;
  margin:0;
}

.rbx-home-filament-name {
  font-size:3vh;
  color:#303030;
  font-weight:300;
  line-height:4.625vh;
  padding:0vh 0vh 0vh 1vh;
  background-color:#fff;
}

.filament-brand {
  font-weight:400;
}

.btn.btn-default.rbx-home-filament-eject-1 {
  background-image:url("../../assets/img/Icon-Eject-Blue.svg");
  background-repeat:no-repeat;
  background-size:6vh;
  margin-top:3.2vh;
  position:absolute;
  left:26%;
  top:2%;
}

.btn.btn-default.rbx-home-filament-eject-1:hover {
  background-image:url("../../assets/img/Icon-Eject-White.svg");
  background-color:transparent;
}

.btn.btn-default.rbx-home-filament-eject-2 {
  background-image:url("../../assets/img/Icon-Eject-Orange.svg");
  background-repeat:no-repeat;
  background-size:6vh;
  margin-top:3.2vh;
  position:absolute;
  left:26%;
  top:2%;
}

.btn.btn-default.rbx-home-filament-eject-2:hover {
  background-image:url("../../assets/img/Icon-Eject-White.svg");
  background-color:transparent;
}

.rbx-text-large {
  font-size:4vh;
  font-weight:700;
  color:inherit;
}

.rbx-text-small {
  font-size:2.25vh;
  font-weight:400;
}

.rbx-text-medium {
  font-size:3vh;
  font-weight:400;
}

.rbx-text-xlarge {
  font-size:5.5vh;
  font-weight:600;
}

.row.rbx-home-temperature {
  margin:1.25vh 0vh;
  height:10vh;
  padding:1.25vh 0vh;
}

.row.rbx-home-job {
  margin:1.25vh 0vh;
  padding:1.5vh 0vh;
  height:16.25vh;
}

.row.rbx-reprint-job {
  margin:0vh 0vh 1.25vh;
  padding:1.5vh 0vh;
  height:16.25vh;
}

.rbx-colour-bed {
  color:#ffc800;
}

.rbx-colour-ambient {
  color:#1eb43c;
}

.rbx-colour-material-1 {
  color:#009ee3;
}

.rbx-colour-material-2 {
  color:#eb672a;
}

.rbx-purge-mat {
  color:grey;
}

.no-margins {
  margin:0px;
}

.rbx-home-job-details {
  line-height:3.4vh;
  text-align:left;
  margin-right:2.5vh;
  background-repeat:no-repeat;
  background-size:6vh;
  background-position:100% 90%;
  padding:0;
  width:40vh;
}

.rbx-home-job-headings {
  padding:0vh;
  line-height:3.4vh;
  text-align:right;
  width:12vh;
  margin-left:2vh;
}

.rbx-reprint-job:hover {
  background-color:#009ee3;
  background-image:url(../../assets/img/Icon-Project-3D-Active.svg);
  background-repeat:no-repeat;
  background-size:6vh;
  background-position:100% 90%;
}

.rbx-text-ml {
  font-size:28px;
  font-weight:700;
}

.rbx-grey {
  color:grey;
}

.rbx-white {
  color:white;
}

input.rbx-field {
  width:100%;
  color:grey;
}

.btn-default.move:hover, .btn-default.move:active, .btn-default.move:focus, .btn-default.move:active:focus, .btn-default.move:active.focus, .btn-default.move:active:hover, .btn-default.move:active.hover {
  background-color:transparent;
}

.btn.btn-default.move.mat1--50 {
  background-image:url("../../assets/img/Icon-Move-Mat1-50.svg");
  background-size:9.875vh 8vh;
  margin-right:0.5vh;
  height:8vh;
  width:9.875vh;
}

.btn.btn-default.move.mat1--50:hover {
  background-image:url("../../assets/img/Icon-Move-Mat1-50-Hover.svg");
}

.btn.btn-default.move.mat1--20 {
  background-image:url("../../assets/img/Icon-Move-Mat1-20.svg");
  background-size:6.25vh 6vh;
  height:6vh;
  width:6.25vh;
  margin:0vh 0.75vh 0vh 0.5vh;
}

.btn.btn-default.move.mat1--20:hover {
  background-image:url("../../assets/img/Icon-Move-Mat1-20-Hover.svg");
}

.btn.btn-default.move.mat1-eject {
  background-image:url("../../assets/img/Icon-Move-Mat1-Eject.svg");
  background-size:7vh;
  height:7vh;
  width:7vh;
  margin:0vh 0.75vh;
}

.btn.btn-default.move.mat1-eject:hover {
  background-image:url("../../assets/img/Icon-Move-Mat1-Eject-Hover.svg");
}

.btn.btn-default.move.mat1-20 {
  background-image:url("../../assets/img/Icon-Move-Mat1+20.svg");
  background-size:6.25vh 6vh;
  height:6vh;
  width:6.25vh;
  margin:0vh 0.5vh 0vh 0.75vh;
}

.btn.btn-default.move.mat1-20:hover {
  background-image:url("../../assets/img/Icon-Move-Mat1+20-Hover.svg");
}

.btn.btn-default.move.mat1-50 {
  background-image:url("../../assets/img/Icon-Move-Mat1+50.svg");
  background-size:9.875vh 8vh;
  margin-left:0.5vh;
  height:8vh;
  width:9.875vh;
}

.btn.btn-default.move.mat1-50:hover {
  background-image:url("../../assets/img/Icon-Move-Mat1+50-Hover.svg");
}

.btn.btn-default.move.mat1-heat {
  background-image:url("../../assets/img/Icon-Move-Mat1-Heat.svg");
  background-size:6vh;
  height:6vh;
  width:6vh;
  margin-left:2.25vh;
}

.btn.btn-default.move.mat1-heat:hover {
  background-image:url("../../assets/img/Icon-Move-Mat1-Heat-Hover.svg");
}

.btn.btn-default.move.mat2--50 {
  background-image:url("../../assets/img/Icon-Move-Mat2-50.svg");
  background-size:9.875vh 8vh;
  margin-right:0.5vh;
  height:8vh;
  width:9.875vh;
}

.btn.btn-default.move.mat2--50:hover {
  background-image:url("../../assets/img/Icon-Move-Mat2-50-Hover.svg");
}

.btn.btn-default.move.mat2--20 {
  background-image:url("../../assets/img/Icon-Move-Mat2-20.svg");
  background-size:6.25vh 6vh;
  height:6vh;
  width:6.25vh;
  margin:0vh 0.75vh 0vh 0.5vh;
}

.btn.btn-default.move.mat2--20:hover {
  background-image:url("../../assets/img/Icon-Move-Mat2-20-Hover.svg");
}

.btn.btn-default.move.mat2-eject {
  background-image:url("../../assets/img/Icon-Move-Mat2-Eject.svg");
  background-size:7vh;
  height:7vh;
  width:7vh;
  margin:0vh 0.75vh;
}

.btn.btn-default.move.mat2-eject:hover {
  background-image:url("../../assets/img/Icon-Move-Mat2-Eject-Hover.svg");
}

.btn.btn-default.move.mat2-20 {
  background-image:url("../../assets/img/Icon-Move-Mat2+20.svg");
  background-size:6.25vh 6vh;
  height:6vh;
  width:6.25vh;
  margin:0vh 0.5vh 0vh 0.75vh;
}

.btn.btn-default.move.mat2-20:hover {
  background-image:url("../../assets/img/Icon-Move-Mat2+20-Hover.svg");
}

.btn.btn-default.move.mat2-50 {
  background-image:url("../../assets/img/Icon-Move-Mat2+50.svg");
  background-size:9.875vh 8vh;
  margin-left:0.5vh;
  height:8vh;
  width:9.875vh;
}

.btn.btn-default.move.mat2-50:hover {
  background-image:url("../../assets/img/Icon-Move-Mat2+50-Hover.svg");
}

.btn.btn-default.move.mat2-heat {
  background-image:url("../../assets/img/Icon-Move-Mat2-Heat.svg");
  background-size:6vh;
  height:6vh;
  width:6vh;
  margin-left:2.25vh;
}

.btn.btn-default.move.mat2-heat:hover {
  background-image:url("../../assets/img/Icon-Move-Mat2-Heat-Hover.svg");
}

.btn.btn-default.move.x--10 {
  background-image:url("../../assets/img/Icon-Move-X-10.svg");
  background-size:12.375vh 8vh;
  margin-right:0.625vh;
  height:8vh;
  width:12.375vh;
}

.btn.btn-default.move.x--10:hover {
  background-image:url("../../assets/img/Icon-Move-X-10-Hover.svg");
}

.btn.btn-default.move.x-home {
  background-image:url("../../assets/img/Icon-Move-X-Home.svg");
  background-size:6vh 6vh;
  margin:0vh 0.625vh;
  height:6vh;
  width:6vh;
}

.btn.btn-default.move.x-home:hover {
  background-image:url("../../assets/img/Icon-Move-X-Home-Hover.svg");
}

.btn.btn-default.move.x-10 {
  background-image:url("../../assets/img/Icon-Move-X+10.svg");
  background-size:12.375vh 8vh;
  margin-left:0.625vh;
  height:8vh;
  width:12.375vh;
}

.btn.btn-default.move.x-10:hover {
  background-image:url("../../assets/img/Icon-Move-X+10-Hover.svg");
}

.btn.btn-default.move.y--10 {
  background-image:url("../../assets/img/Icon-Move-Y-10.svg");
  background-size:8.375vh 11.75vh;
  background-repeat:no-repeat;
  margin:0.625vh 3.625vh 0vh;
  height:12.375vh;
  width:8.375vh;
}

.btn.btn-default.move.y--10:hover {
  background-image:url("../../assets/img/Icon-Move-Y-10-Hover.svg");
}

.btn.btn-default.move.y-home {
  background-image:url("../../assets/img/Icon-Move-Y-Home.svg");
  background-size:6vh 6vh;
  margin:0.625vh 6.25vh;
  height:6vh;
  width:6vh;
}

.btn.btn-default.move.y-home:hover {
  background-image:url("../../assets/img/Icon-Move-Y-Home-Hover.svg");
}

.btn.btn-default.move.y-10 {
  background-image:url("../../assets/img/Icon-Move-Y+10.svg");
  background-size:8vh 9.375vh;
  background-repeat:no-repeat;
  margin-left:6.75vh;
  height:10vh;
  width:8vh;
}

.btn.btn-default.move.y-10:hover {
  background-image:url("../../assets/img/Icon-Move-Y+10-Hover.svg");
}

.btn.btn-default.move.bed-heat {
  background-image:url("../../assets/img/Icon-Move-Bed-Heat.svg");
  background-size:6vh 6vh;
  height:6vh;
  width:6vh;
  margin-right:5vh;
}

.btn.btn-default.move.bed-heat:hover {
  background-image:url("../../assets/img/Icon-Move-Bed-Heat-Hover.svg");
}

.btn.btn-default.move.unlock {
  background-image:url("../../assets/img/Icon-Move-Unlock.svg");
  background-size:6vh 6vh;
  height:6vh;
  width:6vh;
}

.btn.btn-default.move.unlock:hover {
  background-image:url("../../assets/img/Icon-Move-Unlock-Hover.svg");
}

.btn.btn-default.move.z--10 {
  background-image:url("../../assets/img/Icon-Move-Z-10.svg");
  background-size:8vh 12.375vh;
  margin:0.625vh 2.75vh;
  height:12.375vh;
  width:8vh;
}

.btn.btn-default.move.z--10:hover {
  background-image:url("../../assets/img/Icon-Move-Z-10-Hover.svg");
}

.btn.btn-default.move.z-home {
  background-image:url("../../assets/img/Icon-Move-Z-Home.svg");
  background-size:6vh 6vh;
  margin:0.625vh 3.75vh;
  height:6vh;
  width:6vh;
}

.btn.btn-default.move.z-home:hover {
  background-image:url("../../assets/img/Icon-Move-Z-Home-Hover.svg");
}

.btn.btn-default.move.z-10 {
  background-image:url("../../assets/img/Icon-Move-Z+10.svg");
  background-size:8vh 12.375vh;
  margin:0.875vh 2.75vh 0.625vh;
  height:12.375vh;
  width:8vh;
}

.btn.btn-default.move.z-10:hover {
  background-image:url("../../assets/img/Icon-Move-Z+10-Hover.svg");
}

.panel.move.bed {
  width:42.5vh;
  height:34.625vh;
  margin:1.25vh 0vh 0vh 1.25vh;
  padding:2.5vh;
  background-image:url("../../assets/img/Background-Move-Bed.svg");
  background-repeat:no-repeat;
  background-size:37vh 14.75vh;
  background-position:50% 45%;
}

.btn.btn-default.move.nozzle-select {
  background-image:url("../../assets/img/Icon-Move-Select.svg");
  background-size:6vh 6vh;
  background-repeat:no-repeat;
  background-position:50% 0%;
  height:10vh;
  width:11vh;
  color:#fff;
  font-size:2.25vh;
  line-height:18vh;
}

.btn.btn-default.move.nozzle-select:hover {
  background-image:url("../../assets/img/Icon-Move-Select-Hover.svg");
  color:#009ee3;
}

.btn.btn-default.move.nozzle-valve {
  background-image:url("../../assets/img/Icon-Move-Valve.svg");
  background-size:6vh 6vh;
  background-repeat:no-repeat;
  background-position:50% 0%;
  height:10vh;
  width:11vh;
  color:#fff;
  font-size:2.25vh;
  line-height:18vh;
}

.btn.btn-default.move.nozzle-valve:hover {
  background-image:url("../../assets/img/Icon-Move-Valve-Hover.svg");
  color:#009ee3;
}

.btn.btn-default.move.nozzle-light {
  background-image:url("../../assets/img/Icon-Move-Lights.svg");
  background-size:6vh 6vh;
  background-repeat:no-repeat;
  background-position:50% 0%;
  height:10vh;
  width:11vh;
  color:#fff;
  font-size:2.25vh;
  line-height:18vh;
}

.btn.btn-default.move.nozzle-light:hover {
  background-image:url("../../assets/img/Icon-Move-Lights-Hover.svg");
  color:#009ee3;
}

.btn.btn-default.move.nozzle-fan {
  background-image:url("../../assets/img/Icon-Move-Fan.svg");
  background-size:6vh 6vh;
  background-repeat:no-repeat;
  background-position:50% 0%;
  height:10vh;
  width:11vh;
  color:#fff;
  font-size:2.25vh;
  line-height:18vh;
}

.btn.btn-default.move.nozzle-fan:hover {
  background-image:url("../../assets/img/Icon-Move-Fan-Hover.svg");
  color:#009ee3;
}

.console-output {
  padding:1.5vh 1.75vh;
  width:100%;
  height:100%;
  font-family:'Source Code Pro';
  resize:none;
  outline:none;
  line-height:3vh;
}

.console-input {
  height:6.25vh;
  width:100%;
  font-family:'Source Code Pro';
  padding-left:1.75vh;
  outline:none;
  border:none;
}

::-webkit-scrollbar {
  width:5.625vh;
  background-color:#A8A8A8;
}

::-webkit-scrollbar-button {
  height:5.625vh;
}

::-webkit-scrollbar-button:start {
  background:url("../../assets/img/Icon-Scroll-Up.svg") no-repeat center 66%;
  background-size:3vh;
}

::-webkit-scrollbar-button:start:hover {
  background:url("../../assets/img/Icon-Scroll-Up-Hover.svg") no-repeat center 66%;
  background-size:3vh;
}

::-webkit-scrollbar-button:end {
  background:url("../../assets/img/Icon-Scroll-Down.svg") no-repeat center 33%;
  background-size:3vh;
}

::-webkit-scrollbar-button:end:hover {
  background:url("../../assets/img/Icon-Scroll-Down-Hover.svg") no-repeat center 33%;
  background-size:3vh;
}

::-webkit-scrollbar-thumb {
  background-color:#303030;
  border:0.75vh solid transparent;
  background-clip:content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#414141;
}

.btn.btn-default.console-input-clear {
  background-color:#fff;
  width:5.625vh;
  height:6.25vh;
  background-image:url("../../assets/img/Icon-Clear-Light-Grey.svg");
  background-size:3vh;
  background-repeat:no-repeat;
  background-position:50%;
  outline:none;
}

.btn.btn-default.console-input-clear:hover {
  background-image:url("../../assets/img/Icon-Clear-Blue.svg");
}

.btn.btn-default.keyboard-30bt {
  background-color:#303030;
  width:8.75vh;
  height:7.5vh;
  margin:0.4375vh 0.5vh;
  color:#fff;
  font-size:6.75vh;
  font-weight:300;
  line-height:2vh;
  outline:none;
}

.btn.btn-default.keyboard-30bt.dbl {
  height:15.875vh;
  line-height:2vh;
  background-repeat:no-repeat;
  background-position:50% 80%;
}

.btn.btn-default.keyboard-30bt.dbl.bspace {
  background-size:3.75vh 3vh;
  background-image:url("../../assets/img/Icon-KB-Backspace.svg");
}

.btn.btn-default.keyboard-30bt.dbl.return {
  background-color:#009ee3;
  background-size:4.125vh 3.25vh;
  background-image:url("../../assets/img/Icon-KB-Return.svg");
}

.btn.btn-default.keyboard-30bt.dbl.return:hover {
  background-color:#fff;
  background-image:url("../../assets/img/Icon-KB-Return-Hover.svg");
}

.btn.btn-default.keyboard-30bt.space {
  width:28.25vh;
}

.btn.btn-default.keyboard-30bt:hover {
  background-color:#009ee3;
}

