.borderless {
  padding-top:0px;
  padding-bottom:0px;
  border:none;
  padding-left:5px;
  padding-right:5px;
  outline:none;
}

.btn-colorselector {
  width:100%;
  height:34px;
}

.dropdown-colorselector .dropdown-toggle::after {
  content:none;
}

.dropdown-colorselector {
  width:100%;
}

.centred {
  position:absolute;
  left:50%;
  margin-right:-50%;
  top:50%;
  transform:translate(-50%, -50%);
}

.centred-grid-box {
  display:flex;
  align-content:center;
  align-items:center;
  justify-content:center;
}

.centred-text {
  text-align:center;
}

.col.filament-description {
  background-color:#414141;
  font-size:26px;
  margin:0;
}

.col.filament-title {
  font-size:45px;
  font-weight:700;
  margin:0.0;
}

.col.mm-col {
  padding:5px;
  margin:0;
}

.col-3.ambient {
  color:#1eb43c;
}

.col-3.bed {
  color:#ffc800;
}

.col-auto.filament-icon {
  margin:0px 0px 0px 0px;
}

#colour-selector-row {
  height:calc(100vh - 175px);
  min-height:150px;
}

.container.main-container {
  margin:5px 5px 90px 5px;
  height:calc(100vh - 100px);
}

.dimmed-section {
  visibility:hidden;
}

.extruder-1 {
  color:#009ee3;
}

.extruder-2 {
  color:rgb(255,102,27);
}

.eject-button {
  background-color:inherit;
  border:none;
  outline:none;
  color:inherit;
  height:60px;
  width:60px;
}

.eject-button.disabled {
  background-color:rgb(65,65,65);
}

.filament-1-description {
  color:inherit;
}

.filament-1-icon {
  background-color:inherit;
}

.footer-button {
  width:100%;
  height:90px;
  background-color:black;
  color:inherit;
  border:none;
  outline:none;
}

.footer-button.disabled {
  background-color:black;
}

.full-width {
  width:100%;
}

#gcode-row {
  margin-bottom:5px;
  height:calc(100vh - 647px);
  min-height:30px;
}

.hidden {
  display:none;
}

.home {
}

.horizontal-separator {
  height:2px;
  margin:2px;
  background-color:white;
}

#job-etc-field {
  font-size:24px;
  font-weight:300;
}

#job-etc-label {
  font-size:16px;
  font-weight:normal;
}

.job-profile {
  font-size:24px;
  font-weight:300;
}

.job-status {
  font-size:32px;
  font-weight:300;
}

.job-title {
  font-size:32px;
  font-weight:500;
}

.jog-button:hover {
  border-color:purple;
}

.main-menu {
}

.main-menu-button {
  width:100%;
  height:100%;
  background-color:#303030;
  border:none;
  margin:0;
}

.margin-bottom {
  margin-top:5px;
}

.margin-top {
  margin-top:5px;
}

.no-margins {
  margin:0px;
}

.no-padding {
  padding:0px;
}

.col.no-padding {
  padding:0;
}

.no-resize {
  resize:none;
}

.no-touch-action {
  touch-action:none;
}

.printer-name {
  font-size:48px;
  line-height:48px;
}

#printer-name-field {
  transform:translateY(-8px);
}

.print-status-icon {
  height:30px;
  margin:0px 10px 5px 0px;
}

.progress.job-progress {
  background-color:rgba(255, 255, 255, 0.3);
  margin:5px 0px 5px 0px;
  height:30px;
}

.rbx-footer {
  background-color:black;
}

.rbx-title {
  color:white;
}

.robox-icon {
  color:#ffffff;
}

.rbx-button {
  color:rgba(255,255,255,0.38);
  background-color:rgba(0, 0, 0, 0);
}

.rbx-dialog {
  color:white;
  background-color:#414141;
}

.rbx-page {
  background-color:#414141;
  height:100vh;
}

.row.end-margin {
  margin-bottom:15px;
}

.row.filament {
  background-color:#303030;
  margin:0px 5px;
}

.row.filament-1 {
}

.row.filament-2 {
  margin-top:5px;
}

.row.job-progress {
  background-color:#009ee3;
  color:white;
  margin:5px;
  padding:0 0 5px 0;
  min-height:170px;
  height:calc(100vh - 590px);
}

.row.main-menu {
  background-color:#414141;
  height:calc((100vh - 90px) / 3);
  margin:0;
}

.row.printer-name {
  background-color:#414141;
  margin:5px;
  height:163px;
}

.row.temperature {
  margin:5px 5px 0px 5px;
  background-color:#303030;
}

.temperature-field {
  font-size:32px;
  font-weight:700;
  margin:0px;
}

.temperature-label {
  font-size:18px;
  margin:0px;
}

.trans-bckgnd {
  background-color:rgba(0,0,0,0);
}

